body, html {
  font-family:Century Schoolbook;
color: black;
  background-color: rgb(235,247,255);
  }

div {
 border-radius=5px 
}

.header {
   
}
.introduction {
  font face="mistral"
}

.headshot {
  border: 5 px solid #FFF;
}
